<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Production, Development, Testing, Labs -->
        <!-- <add key="applicationName" value="ESB.Components.RecruitV6Interview_Testing" /> -->
        <!-- <add key="Environment" value="Testing" /> -->
        <add key="applicationName" value="ESB.Components.RecruitV6Interview_Development" />
        <add key="Environment" value="Development" />
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>