<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9.2" targetFramework="net45" />
  <package id="AntiXSSLibrary" version="4.0.0.0" targetFramework="net45" />
  <package id="Beisen.AppFSystem.ServiceInterface" version="1.1.1.1198-alpha" targetFramework="net45" />
  <package id="Beisen.Common" version="1.1.0.35" targetFramework="net45" />
  <package id="Beisen.Configuration" version="1.1.0.105" targetFramework="net45" />
  <package id="Beisen.ConnectionPool" version="1.1.0.1503" targetFramework="net45" />
  <package id="Beisen.Kafka" version="1.1.1.2085-alpha" targetFramework="net45" />
  <package id="Beisen.Log.Trace" version="1.1.0.49" targetFramework="net45" />
  <package id="Beisen.Logging" version="1.1.0.81" targetFramework="net45" />
  <package id="Beisen.Security" version="1.1.0.40" targetFramework="net45" />
  <package id="Beisen.UserFramework.DataSource.ServiceInterface" version="1.1.1.101-alpha" targetFramework="net45" />
  <package id="Beisen.ZooKeeper" version="1.1.0.1128" targetFramework="net45" />
  <package id="Ccr.Core" version="1.5.507.0" targetFramework="net45" />
  <package id="HtmlSanitizationLibrary" version="4.0.0.0" targetFramework="net45" />
  <package id="HtmlSanitizer" version="4.0.185" targetFramework="net45" />
  <package id="MySpace.Shared" version="1.1.0.7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="PowerCollections" version="1.0.2141.24679" targetFramework="net45" />
  <package id="Wintellect.PowerThreading" version="1.0.0.0" targetFramework="net45" />
  <package id="log4net" version="1.2.10.1" targetFramework="net45" />
  <package id="xunit" version="2.1.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net45" />
  <package id="xunit.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net45" />
</packages>