<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beisen.AppFramework.TypeMapping" version="1.1.0.2" targetFramework="net45" />
  <package id="Beisen.MultiTenantV5.ServiceInterface" version="1.1.0.2337" targetFramework="net45" />
  <package id="EmitMapper" version="1.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net45" />
</packages>